@CHARSET "UTF-8";

body {
	font: 100%  Arial, Helvetica, sans-serif;
	background: white /*PapayaWhip;background:Wheat ;*/
	margin: 0;
	padding: 0;
	color: #000;
	z-index: 1;
}

.wrap {width: 960px; margin: 0 auto;}
.scrollFit{
	overflow: scroll;
}
h1,h2{
	font-face: Times New Roman;
	text-align: center;
}

caption{
font-size: 130%;
}

.header  {
	width: 100%;
	background-image:url('../StorySense/images/topPanel.png'); 
	color:#FF0;
	top: 0;
}
.sortBt:HOVER, .clickable:HOVER {
	background: lightgray;
	}
.Logo{
	text-align: center;
}

.Logo2{
	width: 80%;
	margin-right: 0;
}


.Logo3{
	width: 40%;
}


#LogoHere{
	width:65%;
	float:left;
}
#log{
	float:right;
	width: 35%;
}
/*
div.header{
	width:100%;
	background: seagrFeen;
	color:white;
	float:left;
}*/


ul, ol, dl {
	padding: 0;
	margin: 0;
}


.content{
	width: 70%;
	max-width: 1260px;
	float:left;
	margin: 1.1em 1em 1.2em 1em;
	/*
	float: left;
	background:#e5eecc;*/
	
}

.content2{
	width: 50%;
	max-width: 1260px;
	/*background:#e5eecc;*/
	
}

.sidebar1, .navbar {
	float: left;
	width:20%;
	padding-bottom: 5%;
	margin: 1.1em 1em 1.2em 1em;
	position: relative;
	clear: both;
}

.ErrorMessage{
	color:red;
}

.profPic{
  	width: 50px;
  	height: 50px;
  
  }


.navbar{
	background-image:url('../StorySense/images/leaderboard.png');
	color: yellow;
	float: left;
}

.navbar li{
	margin: 0 1em 0 0;
  	padding: 5%;
	float:left;
}


.navbar a{
	color: tan;
	text-decoration: none;
	width:100%;
	
}
/*
.navbar a:VISITED{
	color: lightgreen;
}*/
.navbar a:HOVER{
	font-size: 110%;
	color: yellow;
	/*background: maroon;*/
}

.storyPreviewStage{
	margin: 10%;
	padding: 2.1em;
}

.centralForm{
	background: white;
	margin:5%;
	border-color:black;
	text-align: justify;
}

.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */

ul.nav a , ul.navbar a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */

/* ~~ Footer ~~ */

ul.footList, .navbar ul{
	list-style: none;
	float:right;
}

.notifPane{
overflow:scroll;
max-height: 40%;
z-index:100;
position:absolute;
background: white;
}
.notifPane ul li,.notifPane ul {
	list-style: square;
	margin: 3%;
}


.foot {
	padding:40px;
	margin-top: 1.2em;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	width:90%;
}

footlist{
	float: right;	
}

.spacedPanel{
	margin:3%;
	background:"dodgerblue";
	border:thin;
}


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.hiddenElem{
	display: none;
}

.storyHead{
	padding: 1.2em;
}

.storyHead:HOVER{
	background: navy;
	color:orange;
}

body {
  min-width: 600px;      /* 2x LC width + RC width */
}
#container {
  padding-left: 180px;   /* LC width */
  padding-right: 200px;  /* RC width */
  max-width: 80%;
  
}
#container .column {
  position: relative;
  float: left;
}
#center {
  width: 100%;
}
#left {
  width: 50px;          /* LC width */
  right: 50px;          /* LC width */
  margin-left: -100%;
  margin-top: 2%;
}
#right {
  width: 200px;          /* RC width */
  left: -70px;
  margin-right: -200px;  /* RC width */
  margin-top: 2%;
}
#footer {
  clear: both;
}
/*** IE6 Fix ***/
* html #left {
  left: 150px;           /* RC width */
}