body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: PapayaWhip;/*background:Wheat ;*/
	margin: 0;
	padding: 0;
	color: #000;
}


/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* removes the default blue border displayed in some browsers around an image w/ link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

canvas{
	border: 1px solid black;
}


/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 70%;
	max-width: 1260px;
	min-width: 780px;
	
	background: #FFF;
	margin: 1.2em;
	float: right; 
	
}


.header {
	background: Seagreen;
	color:#FF0;
}


.sidebar1 {
	float: left;
	width: 20%;
	background: #300;
	color:#FFF;
	/*padding-bottom: 10px;*/
	margin: 1.1em 0 1.2em 0;
	position: relative;
}

.sidebar1 ul{
	background: darkgreen;
	color: white;
	
}
.content {
	padding: 5% 0;
	width: 100%;
	float: left;
	position:relative;
	
}

/*Content*/
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

/* ~~ The navigation list styles ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #6F7D94;
	color: #FFF;
}

/* ~~ Footer ~~ */
.footer {
	padding: 10px 0;
	background: #003;
	color:  #09C;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
